pytz
python-dotenv
click

# Django
django
django-cleanup==5.2.0
django-timezone-field 
django-cors-headers
pillow
whitenoise

# Django 3.0 async requirements
gunicorn==20.1.0
uvicorn
# uvloop
httptools

# Databases
psycopg2-binary
dj-database-url

# Distributed tasks
celery
redis
django-celery-beat

# Telegram
telebot
python-telegram-bot
python-telegram-bot-pagination==0.0.2

# monitoring
# sentry-sdk
